.btn-pink {
    background-color: #f9afae;
}
.btn-savepassword {
    width: 253px;
    height: 40px;
    background: #EB6271;
    border-radius: 50px;
    color: white !important;
}

.btn-pink:disabled {
    background-color: #434343;
    color: #fff;
    opacity: 1;
}

a.pink {
    color: #eb6271;
}

a.blue {
    color: #4a90e2;
}

.bold {
    font-weight: bold;
}

.nav-tabs.nav-tabs-bottom > li > a.active,
.nav-tabs.nav-tabs-bottom > li > a.active:hover,
.nav-tabs.nav-tabs-bottom > li > a.active:focus {
    border-bottom-width: 2px;
    border-color: transparent;
    border-bottom: 3px solid #EB6271;
    background-color: transparent;
    transition: none 0s ease 0s;
    -moz-transition: none 0s ease 0s;
    -o-transition: none 0s ease 0s;
    -ms-transition: none 0s ease 0s;
    -webkit-transition: none 0s ease 0s;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
}
.centerBtn {
    margin: auto;
    width: 30%;
}

.login-form {
    width: 800px;
    height: 480px;
    border: 0.5px solid #9B9B9B;
    border-radius: 10px;
    padding-left: 265px;
    padding-right: 265px;
}

body {
    font-family: Poppins;
    color: #434343;
    background: #F5F8FA;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.logo {
    position: absolute;
    width: 213.57px;
    height: 65px;
    left: 71px;
    top: 78px;
}

.form-material .form-control.fill ~ .float-label, .form-material .form-material .form-control.fill ~ .float-label {
    top: -14px;
    font-size: 11px;
}

.text-400 {
    font-weight: 500;
}

.text-500 {
    font-weight: 500;
}

.text-primary {
    color: #EB6271 !important;
}

.text-blue {
    color: #00A3FF !important;
}
.title-color {
    color: #020644;
}

.title-22 {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
}

.title-15 {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
}

.title-18 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #020644;
}

.title-20 {
    font-style: normal;
    font-weight: 500 !important;
    font-size: 20px;
    line-height: 30px;
}

.title-14 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #434343;
}

.desc-11 {
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 16px;
}

.desc-12 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
}

.desc-15 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

.desc-16 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

.desc-18 {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
}

.btn-small {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    padding: 3px 15px;
}

tr.text-bold td {
    font-weight: 500;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.valign-middle {
    vertical-align: middle !important;
}

.border-top {
    border-top: 1px solid #dee2e6;
}

.bt-0 {
    border-top: 0px !important;;
}

.badge-primary {
    background: #EB6271 !important;
}

.card .card-header {
    box-shadow: none;
    border-bottom: 1px solid #F2F2F2;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 33px;
}
.input-filter {
    width: 171px;
    height: 19px;
    background: #FFFFFF;
    border: 0.5px solid #979797;
    box-sizing: border-box;
}
is-flex {
    display: flex;

}

input.hera-control {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 0.5px solid #979797;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    padding-left: 15px;
    color: #EB6271;
    margin-top: 10px;
    margin-bottom: 25px;
}

select.hera-control {
    width: 100%;
    height: 40px;
    background: #FFFFFF;
    border: 0.5px solid #979797;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #EB6271;
    margin-top: 10px;
    padding-left: 15px;
}

.b-0 {
    border: 0px !important;
}

.text-muted {
    color: #9B9B9B !important;
}
.form-size--review {
    height: 363px !important;
    width: 731px !important;
}

.material-switch > label:before {
    background-color: #FFAFAE;
    box-shadow: none;
}
.review-margin {
    margin-top: 47px;
    margin-left: 49px;
}

#sidebar-menu {
    margin-top: 10px;
}

@media (max-width: 1199.98px) {
    .logo {
        left: 50%;
        margin-left: -106px;
    }
}

@media (min-width: 576px) {
    .mt-sm-50 {
        margin-top: 50px !important;
    }
}

@media (min-width: 1200px) {
}

@media (min-width: 1200px) {
    .pl-lg-200 {
        padding-left: 200px !important;
    }

    .pr-lg-200 {
        padding-right: 200px !important;
    }
}