@import '~vue2-datepicker/scss/index.scss';
$--color-primary: #FC9897;
$--color-active: #EB6271;

.color-main{
  color: $--color-primary !important;
}
.bg-main{
  background-color: $--color-primary !important;
}
.color-white{
  color: white;
}

.custom-control-input:checked~.custom-control-label::before {
  color: #fff;
  border-color: $--color-primary;
  background-color: $--color-primary;
}
#publishDate{
  width: 250px;
  
}
.mx-table-date thead{
  @extend .bg-main;
  color: white;
}
.mx-calendar-content .cell.active{
  color: #fff;
  background: $--color-active;
}
.mx-calendar-content .cell:hover {
  border: solid 1px #EB6271;
}


$namespace: 'xmx'; // change the 'mx' to 'xmx'. then <date-picker prefix-class="xmx" /> 
 
$default-color: #555;
$primary-color: $--color-primary;
 
