<template>
    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2 style="color: #020644" class="title-22 pb-4">Notification Settings</h2>

                <ul class="list-group notification-list">
                    <li class="list-group-item notification-title">
                        Appointments
                        <div class="material-switch float-right">
                            <input
                                    v-model="appointments"
                                    @change="onChangeNotification"
                                    id="sw_appointments"
                                    type="checkbox">
                            <label for="sw_appointments" class="badge-primary"></label>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between notification-title">
                        Chat
                        <div class="material-switch float-right">
                            <input
                                    v-model="chat"
                                    @change="onChangeNotification"
                                    id="sw_chat"
                                    type="checkbox">
                            <label for="sw_chat" class="badge-primary"></label>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between notification-title">
                        Call
                        <div class="material-switch float-right">
                            <input
                                    v-model="call"
                                    @change="onChangeNotification"
                                    id="sw_call"
                                    type="checkbox">
                            <label for="sw_call" class="badge-primary"></label>
                        </div>
                    </li>
                    <li class="list-group-item justify-content-between notification-title" v-if="appHelper.isClient()">
                        Message
                        <div class="material-switch float-right">
                            <input
                                    v-model="message"
                                    @change="onChangeNotification"
                                    id="sw_message"
                                    type="checkbox">
                            <label for="sw_message" class="badge-primary"></label>
                        </div>
                    </li>

                    <li class="list-group-item justify-content-between notification-title" v-if="appHelper.isAdmin()">
                        Review
                        <div class="material-switch float-right">
                            <input
                                    v-model="review"
                                    @change="onChangeNotification"
                                    id="sw_review"
                                    type="checkbox">
                            <label for="sw_message" class="badge-primary"></label>
                        </div>
                    </li>

                    <li class="list-group-item justify-content-between notification-title" v-if="appHelper.isAdmin()">
                        Clinic Applicants
                        <div class="material-switch float-right">
                            <input
                                    v-model="clinic_applicants"
                                    @change="onChangeNotification"
                                    id="sw_clinic_applicants"
                                    type="checkbox">
                            <label for="sw_message" class="badge-primary"></label>
                        </div>
                    </li>
                </ul>
                <div class="centerBtn">
                    <button  class="btn  btnSave m-t-40" >SAVE</button>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</template>

<script>
  import {appHelper} from "./../utils/appHelper";
  import rf from "./../api/RequestFactory";

  export default {
    name: "Setting",
    data() {
      return {
        appHelper,
        appointments: false,
        message: false,
        chat: false,
        call: false,
        review: false,
        clinic_applicants: false
      }
    },
    methods: {
      onChangeNotification() {
        let self = this
        let params = {
          appointments: self.appoinments,
          message: self.message,
          chat: self.chat,
          call: self.call
        }

        return rf.getRequest('CommonRequest').updateSettingNotifications(params).then((res) => {
          self.$store.dispatch('app/showMessage', {message: res.message})
        });
      }
    },
    mounted() {
      let self = this

      rf.getRequest('CommonRequest').getSettingNotification().then((res) => {
        if (res.data) {
          const {appointments, message, chat, call} = res.data
          self.appointments = appointments
          self.message = message
          self.chat = chat
          self.call = call
        }
      });
    }
  }
</script>

<style scoped>

</style>