<template>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th class="date" @click="orderCreated"><span class="title-date">Order Date</span></th>
                    <th>Client</th>
                    <th>Clinic</th>
                    <th>Appt.Date</th>
                    <th>Appt.Time</th>
                    <th>Type</th>
                    <th>Treatment</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" v-if="showNotify">Notify</th>
                    <th class="text-center" v-else-if="! isCR">Extras</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="appt in appoinments" :key="appt.id">
                    <td>
                        <router-link
                        :to="'/appointments/' + appt.id">
                            <span class="text-blue desc-12">{{ appt.id | convertAppointmentID }}</span>
                        </router-link>
                    </td>
                    <td>{{appt.created|convertTimeSecondToDate}}</td>
                    <td><span v-if="appt.client">{{appt.client.first_name}} {{ appt.client.last_name }}</span></td>
                    <td>{{appt.doctor.clinic}}</td>
                    <td>{{appt.date|convertTimeSecondToDate}}</td>
                    <td class="text-center">{{appt.date|convertDateToTime}}</td>
                    <td>{{appt.mode|convertModeAppointment}}</td>
                    <td>Surrogacy</td>
                    <td v-if="isCR">
                        <p class="alert appt--status alert-process" v-if="appt.status == 2 && appt.state == 1">Processing</p>
                        <p class="alert appt--status alert-refunded" v-if="appt.status == 2 && appt.state == 2">Refunded</p>
                    </td>
                    <td v-else>
                        <p class="alert appt--status" :class="Const.STATUS.intToStatusClass(appt.status)">
                            {{Const.STATUS.intToString( appt.status )}}
                        </p>
                    </td>
                    <td class="text-center" v-if="showNotify">
                        <a href="javascript:void(0)" @click="onToggleNotify(appt.id)">
                            <i class="fa" :class="isBellActive(appt.admin_notify_ids)"></i>
                        </a>
                    </td>
                    <td class="text-center" v-else-if="! isCR">
                        <p :class="Const.STATUS.intToExtraClass(appt.status)">
                            <i :class="Const.STATUS.intToExtraString( appt.status )"></i>
                        </p>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
  import Utils from "./../utils/utils";
  import Const from "./../utils/const"
  import rf from "./../api/RequestFactory"

  export default {
    props: ['appoinments', 'showNotify', 'isCR'],
    data() {
      return {
        Const,
        sortCreated: 'desc'
      }
    },
    methods: {
      onToggleNotify(id) {
        let self = this
        rf.getRequest('AdminRequest').postAppointmentNotify(id).then((res) => {
          self.$emit('onRefresh')
        })
      },
      orderCreated() {
        if (this.sortCreated === 'desc') {
          this.sortCreated = 'asc';
          return
        }
        if (this.sortCreated === 'asc') {
          this.sortCreated = 'desc';
          return;
        }

        this.$emit('onSortCreated', this.sortCreated)
      },
      isBellActive(admin_notify_ids) {
        let self = this

        let arr_admin_notify_ids = admin_notify_ids ? JSON.parse(admin_notify_ids) : []
        let user = Utils.getLocalUser();

        if (arr_admin_notify_ids.indexOf(user.id)) {
          return 'fa-bell'
        } else {
          return 'fa-bell-o'
        }
      }
    }
  }
</script>

<style>
    .alert-process {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #434343;
        background: #FFFFFF;
        border: 1px solid #434343;
        box-sizing: border-box;
        border-radius: 5px;
    }

    .alert-refunded {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #EB6271;
        background: #FFFFFF;
        border: 1px solid #434343;
        box-sizing: border-box;
        border-radius: 5px;
    }
</style>