<template>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped custom-table">
                <thead>
                <tr>
                    <th class="date"><span class="title-date">Date</span></th>
                    <th>Provider Name</th>
                    <th>Country</th>
                    <th>City</th>
                    <th>Type</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="clinic in clinics" :key="clinic.id">
                    <td>{{clinic.created|convertTimeSecondToDate}}</td>
                    <td>{{ clinic.name }}</td>
                    <td>{{ clinic.country }}</td>
                    <td>{{ clinic.city }}</td>
                    <td>{{ clinic.type_clinic }}</td>
                    <td>{{ clinic.email }}</td>
                    <td>{{ clinic.phone }}</td>
                    <td class="text-center">
                        <p class="alert appt--status" :class="Const.STATUS.intToVerifyClass(clinic.verify)">
                            {{Const.STATUS.verifyToString( clinic.verify )}}
                        </p>
                    </td>
                    <td class="text-center">
                        <router-link :to="'/clinics/' + clinic.id + '/applicant'" class="btn btn-round btn-pink">View
                        </router-link>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
  import Utils from "./../utils/utils";
  import Const from "./../utils/const"
  import rf from "./../api/RequestFactory"

  export default {
    props: ['clinics'],
    data() {
      return {
        Const,
        sortCreated: 'desc'
      }
    },
    methods: {}
  }
</script>

<style>
</style>