<template >
            <div class="card-body">
                <table style="margin-left: 80px; margin-top: 41px" class="table mb-0 border-0 appt--detail table-margin width-card">
                    <tbody>
                    <tr>
                        <td class="title-15 appt--labels">Appt. No:</td>
                        <td class="title-15">{{ appt.id | convertAppointmentID }}</td>
                        <td class="title-15 appt--labels">Status:</td>
                        <td class="title-15"><span
                                :class="Const.STATUS.intToStatusClass( appt.status , 'text')">{{ Const.STATUS.intToString( appt.status ) }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels">Order Date:</td>
                        <td class="title-15">{{ appt.created_at }}</td>
                        <td class="title-15 appt--labels">Type:</td>
                        <td class="title-15">{{ appt_types[appt.type] }}</td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels">Appt. Date:</td>
                        <td class="title-15">{{ appt.date|convertTimeSecondToDate }}</td>
                        <td class="title-15 appt--labels">Appt. Time:</td>
                        <td class="title-15">{{ appt.date|convertDateToTime }}</td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels  pb-20">Specialty:</td>
                        <td class="title-15 pb-20">{{ appt_specialty[appt.specialty_id] }}</td>
                        <td class="title-15 appt--labels pb-20">Treatment:</td>
                        <td class="title-15 pb-20">{{ appt_treatment[appt.treatment_id] }}</td>
                    </tr>
                    <tr v-if="isClient">
                        <td class="title-15 appt--labels">Clinic:</td>
                        <td class="title-15">Clinic {{ appt.clinic.name }}</td>
                        <td class="title-15 appt--labels">Country:</td>
                        <td class="title-15">{{ appt.clinic.country }}</td>
                    </tr>
                    <tr v-if="! isClient">
                        <td class="title-15 appt--labels border-top pt-20">Clinic:</td>
                        <td class="title-15 border-top pt-20">{{ appt.clinic.name }}</td>
                        <td class="title-15 appt--labels border-top pt-20">Country:</td>
                        <td class="title-15 border-top pt-20">{{ appt.clinic.country }}</td>
                    </tr>
                    <tr v-if="! isClient">
                        <td class="title-15 appt--labels border-bottom pb-20">Email:</td>
                        <td class="title-15 border-bottom pb-20">{{ appt.clinic.email }}</td>
                        <td class="title-15 appt--labels border-bottom pb-20">Phone:</td>
                        <td class="title-15 border-bottom pb-20">{{ appt.clinic.phone }}</td>
                    </tr>
                    <tr v-if="! isClient">
                        <td class="title-15 appt--labels border-top pt-20">Client:</td>
                        <td class="title-15 border-top pt-20">{{ appt.client.name }}</td>
                        <td class="title-15 appt--labels border-top pt-20">Country:</td>
                        <td class="title-15 border-top pt-20">{{ appt.client.country }}</td>
                    </tr>
                    <tr v-if="! isClient">
                        <td class="title-15 appt--labels">Gender:</td>
                        <td class="title-15">{{ appt.client.gender }}</td>
                        <td class="title-15 appt--labels">Age:</td>
                        <td class="title-15">{{ appt.client.age }}</td>
                    </tr>
                    <tr v-if="! isClient">
                        <td class="title-15 appt--labels border-bottom pb-20">Email:</td>
                        <td class="title-15 border-bottom pb-20">{{ appt.client.email }}</td>
                        <td class="title-15 appt--labels border-bottom pb-20">Phone:</td>
                        <td class="title-15 border-bottom pb-20">{{ appt.client.phone }}</td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels pt-20">Specialty:</td>
                        <td class="title-15 pt-20">{{ appt_specialty[appt.specialty_id] }}</td>
                        <td class="title-15 appt--labels pt-20">Treatment:</td>
                        <td class="title-15 pt-20">{{ appt_treatment[appt.treatment_id] }}</td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels pb-20">Type:</td>
                        <td class="title-15 pb-20">{{ appt_types[appt.type] }}</td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels border-top pt-20 pb-20">Interpreter:
                            <div></div>
                        </td>
                        <td class="title-15 border-top pt-20 pb-20">
                            <div v-if="is_edit_interpreter">
                                <select v-model="interpreter_id" class="form-control">
                                    <option v-for="interpreter in interpreters" :key="interpreter.id" :value="interpreter.id" :selected="appt.interpreter_id == interpreter_id">{{ interpreter.name }}</option>
                                </select>
                            </div>
                            <div v-else>
                                <span>{{ appt.interpreter.name }}</span>
                            </div>
                        </td>
                        <td class="title-15 appt--labels border-top pt-20 pb-20">
                            Language:
                            <button class="btn btn-link" @click="is_edit_interpreter = ! is_edit_interpreter"><i class="fa fa-pencil"></i>Edit</button>
                        </td>
                        <td class="title-15 border-top pt-20 pb-20">
                            <div v-if="appt.interpreter">
                                <span>{{ appt_languages[appt.interpreter.language] }}</span>
                            </div>
                            <div v-else>
                                <span>-</span>
                            </div>
                        </td>
                    </tr>
                    <tr v-if="is_edit_interpreter">
                        <td colspan="2" class="text-center">
                            <button class="btn btn-pink" @click="onSaveInterpreter">Save</button>
                        </td>
                    </tr>
                    <tr>
                        <td class="title-15 appt--labels border-bottom pt-20 pb-20">Name:</td>
                        <td class="title-15 pt-20 pb-20 border-bottom">
                            <span v-if="appt.interpreter">{{ appt.interpreter.name }}</span>
                            <span v-else>-</span>
                        </td>
                        <td class="title-15 appt--labels border-bottom pt-20 pb-20">Phone:</td>
                        <td class="title-15 border-bottom pt-20 pb-20">
                            <span v-if="appt.interpreter">{{ appt.interpreter.phone }}</span>
                            <span v-else>-</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="title-15 border-top border-bottom pt-20 pb-20">
                            <span class="appt--labels">Supporting Documents:</span>
                            <ul v-if="documents.length">
                                <li v-for="document in documents" :key="document.id">
                                    <a v-if="document.type == 'support'" :href="document.path" download>{{ document.name }}</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr v-if="! isClient">
                        <td colspan="4" class="title-15 border-top pt-20 pb-20">
                            <span class="appt--labels">Supporting Documents Translating:</span>
                        </td>
                    </tr>
                    <tr v-if="! isClient">
                        <td colspan="4" class="title-15 border-top pt-20 pb-20">
                            <a href="javascript:void(0)" @click="onAddDocumentClick">Add translated documents</a>
                            <input id="file__upload" type="file" style="display: none" ref="document" v-on:change="onUploadDocument">

                            <ul v-if="documents.length">
                                <li v-for="document in documents" :key="document.id">
                                    <div v-if="document.type == 'translate'">
                                        <span>{{ document.name }}</span>
                                        <a :href="document.path" download class="btn btn-link">View</a>
                                        <a href="javascript:void(0)" @click="onRemoveDocument(document.id)">Delete</a>
                                    </div>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" class="title-15 border-top border-bottom pt-20 pb-20">
                            <div class="mb-10 appt--labels">Additional Notes:</div>
                            <p class="desc-15" v-if="! is_edit_note">{{ appt.note }}</p>
                            <div v-if="is_edit_note">
                                <textarea v-model="note" class="form-control" cols="30" rows="5"></textarea>
                                <div class="text-center">
                                    <button class="btn btn-primary btn-rounded" @click="onSaveNote">Save</button>
                                </div>
                            </div>
                            <button class="btn btn-link" @click="onEditNote">Edit</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

</template>

<script>
  import rf from "./../api/RequestFactory"
  import Const from "./../utils/const"
  import {mapGetters} from 'vuex'

  export default {
    props: ['isClient'],
    data() {
      return {
        Const,
        is_edit_note: false,
        is_edit_interpreter: false,
        note: '',
        document: null,
        documents: [],
        interpreters: [],
        interpreter_id: null
      }
    },
    computed: {
      ...mapGetters(['appt_specialty', 'appt_treatment', 'appt_types', 'appt_languages', 'appt'])
    },
    mounted() {
      let self = this
      self.note = self.appt.note

      self.$store.dispatch('getCountries')
      self.$store.dispatch('getAppointmentMetas')

      rf.getRequest('AdminRequest').getAppointmentInterpreters().then(res => {
        self.interpreters = res.data
      })

      self.onRefresh()
    },
    methods: {
      onRefresh() {
        let self = this

        rf.getRequest('AdminRequest').getAppointmentDocuments(self.appt.id).then(res => {
          self.documents = res.data
        })
      },
      onAddDocumentClick() {
        let self = this

        window.$('#file__upload').trigger('click')
      },
      onEditNote() {
        let self = this

        self.is_edit_note = true
      },
      onSaveNote() {
        let self = this

        rf.getRequest('AdminRequest').postAppointmentNote(self.appt.id, {note: self.note}).then((res) => {
          self.is_edit_note = false

          self.onRefresh()
          self.$emit('onRefresh')
        })
      },
      onSaveInterpreter() {
        let self = this

        rf.getRequest('AdminRequest').postAppointmentInterpreter(self.appt.id, {interpreter_id: self.interpreter_id}).then(res => {
          self.is_edit_interpreter = false

          self.onRefresh()
          self.$emit('onRefresh')
        })
      },
      onUploadDocument() {
        let self = this
        self.document = self.$refs.document.files[0]

        if (self.document) {
          let formData = new FormData()
          formData.append('type', 'translate')
          formData.append('doc', self.document)

          rf.getRequest('AdminRequest').postAppointmentUploadDocument(self.appt.id, formData).then(res => {
            self.onRefresh()
            self.$emit('onRefresh')
          })
        }
      },
      onRemoveDocument(id) {
        let self = this
        rf.getRequest('AdminRequest').postAppointmentRemoveDocument(id).then(res => {
          self.onRefresh()
          self.$emit('onRefresh')
        })
      }
    }
  }
</script>
<style>
    table-margin {
        margin-left: 80px !important;
        margin-top: 41px !important;
    }
    .card {
        width: 950px;
    }
    .width-card {
        width: 800px;
    }
</style>