<template>
    <div class="card">
        <div class="card-header">
            <h4 class="title-20 card-title card-title-homepage d-inline-block">{{ title }}</h4>
            <router-link to="/appointments" class="btn btn-dark btn-small float-right">View all</router-link>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive table--appointment">
                <table class="table mb-0 b-0">
                    <thead class="d-none">
                    <tr>
                        <th>Appointment with</th>
                        <th>Treatment</th>
                        <th>Appt. Date</th>
                        <th>Appt. Time</th>
                        <th>Status</th>
                        <th v-if="disableView">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="appt in appts" v-bind:key="appt.id">
                        <td>
                            <div style="width: 70px;height:40px;background-color: #c4c4c4;float:left;margin-right:20px"></div>
                            <h2 class="time-title title-15 pb-2">
                                Appointment with
                            </h2>
                            <div class="text-desc desc-11">{{ appt.doctor.first_name }}&nbsp;{{ appt.doctor.last_name }}</div>
                        </td>
                        <td>
                            <h2 class="time-title title-15">
                                Treatment
                                <span>{{ appt.doctor.clinic }}</span>
                            </h2>
                        </td>
                        <td>
                            <h2 class="time-title title-15">
                                Appt. Date
                                <span>{{appt.date|convertTimeSecondToDate}}</span>
                            </h2>
                        </td>
                        <td>
                            <h2 class="time-title title-15">
                                Appt. Time
                                <span>{{appt.date|convertDateToTime}}</span>
                            </h2>
                        </td>
                        <td class="text-center">
                            <p class="alert appt--status" :class="Const.STATUS.intToStatusClass(appt.status)">
                                {{Const.STATUS.intToString( appt.status )}}
                            </p>
                        </td>
                        <td class="text-center" v-if="! disableView">
                            <router-link v-if="appt.status !== 1" class="btn btn-round btn-primary" :to="'appointment/' + appt.id">View</router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
  import Const from "./../utils/const"

  export default {
    props: {
      title: {
        type: String
      },
      appts: {
        type: Array
      },
      disableView: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {
        Const: Const,
      }
    }
  }
</script>

<style>
    .appt--status {
        text-align: center;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 0px;
        padding: 5px 12px;
    }

    .table--appointment td {
        border-bottom: 0.5px solid #dee2e6;
    }

    .table--appointment tr:last-child td {
        border-bottom: 0px !important;
    }
</style>