<template>
    <div class="row list-content">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped custom-table">
                    <thead>
                    <tr>
                        <th>No.</th>
                        <th class="date" @click="orderCreated"><span class="title-date">Date</span><img
                                class="img-down"
                                src="/assets/img/icon_down.png"><img
                                src="/assets/img/icon_up.png"></th>
                        <th>Clinic</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Appt.Date</th>
                        <th>Appt.Time</th>
                        <th>Type</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="appt in appts" :key="appt.id">
                        <td>
                            <span class="text-blue desc-12">{{ appt.id | convertAppointmentID }}</span>
                        </td>
                        <td>{{appt.created|convertTimeSecondToDate}}</td>
                        <td>{{appt.doctor.clinic}}</td>
                        <td>{{appt.doctor.address}}</td>
                        <td>{{appt.doctor.country}}</td>
                        <td>{{appt.date|convertTimeSecondToDate}}</td>
                        <td>{{appt.date|convertDateToTime}}</td>
                        <td>{{appt.mode|convertModeAppointment}}</td>
                        <td>
                            <p class="alert appt--status" :class="Const.STATUS.intToStatusClass(appt.status)">
                                {{Const.STATUS.intToString( appt.status )}}
                            </p>
                        </td>
                        <td>
                            <router-link v-if="appt.status !== 1" class="btn btn-round btn-small btn-white"
                                         :to="'appointment/' + appt.id">View
                            </router-link>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
  import Const from "./../utils/const"

  export default {
    props: ['appts'],
    data() {
      return {
        Const
      }
    }
  }
</script>