<template>
    <div>
        <div class="row">
            <div class="col-sm-12">
                <router-link to="/appointments"><h4 class="page-title"><i class="fa fa-arrow-left mr-3"></i>Back to
                    Appointments</h4></router-link>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="display: flex">
                    <div class="card " v-if="appt">
                        <AppointmentDetailTable :isClient="false" @onRefresh="onRefresh"></AppointmentDetailTable>
                    </div>
                    <div style="display: flex " class="app--div ">
                                <p style="color: #FFFFFF ; margin: auto;" class="title-15">Extra Docs : </p>
                                <p style="margin: auto;" class="title-15 appt--p m-l-20">Incompleted</p>
                    </div>

                </div>

            </div>

        </div>
    </div>
</template>
<script>
  import rf from "../../api/RequestFactory";
  import Const from "./../../utils/const"
  import AppointmentDetailTable from './../../components/AppointmentDetailTable'

  export default {
    components: {
      AppointmentDetailTable
    },
    data() {
      return {
        Const,
        appt: null,
        policy: false,
        schedule_selected: false,
        id: null
      }
    },
    mounted() {
      let self = this
      self.id = parseInt(this.$route.params.id)

      self.onRefresh()
    },
    methods: {
      onRefresh() {
        let self = this

        rf.getRequest('AdminRequest').getAppointmentDetail(self.id).then((res) => {
          self.appt = res.data;
          self.$store.commit('updateAppt', res.data)
        });
      },
      onCancellAppointment() {
        let self = this

        if (!self.policy) {
          return
        }

        let params = {
          status: Const.STATUS.stringToInt('canceled')
        }

        rf.getRequest('UserRequest').postAppointmentStatus(self.appt.id, params).then((res) => {
          self.appt = res.data

          if (self.appt.status == Const.STATUS.stringToInt('canceled')) {
            self.$store.dispatch('app/showMessage', {message: res.message})
          }
        })
      },
      onCancellAppointmentSchedule() {
        let self = this

        if (!self.policy) {
          return
        }

        return self.$router.push({path: '/appointment/' + self.appt.id + '/cancel'})
      },
      onCancellAppointmentConfirmed() {
        let self = this

        if (!self.policy) {
          return
        }

        rf.getRequest('UserRequest').postCheckCancelable(self.appt.id).then((res) => {
          if (res.data) {
            return self.$router.push({path: '/appointment/' + self.appt.id + '/cancel'})
          }
        })
      },
      onAcceptAppointment() {
        let self = this

        if (!self.schedule_selected) {
          return
        }

        let params = {
          status: Const.STATUS.stringToInt('confirmed'),
          schedule_item_id: self.schedule_selected
        }

        rf.getRequest('UserRequest').postAppointmentStatus(self.appt.id, params).then((res) => {
          self.appt = res.data

          if (self.appt.status == Const.STATUS.stringToInt('confirmed')) {
            self.$store.dispatch('app/showModal', {message: res.message})
          }
        })
      }
    }
  }
</script>
<style>
    .appt--detail td {
        color: #434343;
        border-top: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .appt--labels {
        color: #020644 !important;
    }
    .app--div {
        margin-left: 22px;
        width: 238px;
        height: 83px;
        background: #020644;
        border-radius: 5px;
    }
    .appt--p {
        color: #EB6271;
    }

</style>