<template>
    <div class="content">
        <p class="title title-22">Appointments</p>
        <div class="search">
            <!--<input v-model="name" class="content-name" type="text" placeholder="Search"-->
                   <!--@input="getDataAppointments">-->
            <!--<select v-model="country" class="coutry-search">-->
                <!--<option disabled hidden value="">Select Country</option>-->
                <!--<option v-for="item in countries" :value="item.name" :key="item.id">{{item.name}}</option>-->
            <!--</select>-->
        </div>

        <div class="row list-content">
            <div class="col-sm-12 form-inline mb-3">
                <button class="btn btn-white" v-popover:filter__appt><span class="fa fa-filter"></span></button>
                <select style="margin-left: 10px" class="form-control">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>

            <AdminAppointmentListing :appoinments="appoinments" @onSortCreated="onSortCreated" @onRefresh="getDataAppointments(currentPage)"></AdminAppointmentListing>
        </div>

        <div class="page">
            <Pagination :total-page="totalPage" :current-page="currentPage"
                        @pageData="getDataAppointments"></Pagination>
        </div>

        <popover style="width: 380px" name="filter__appt" class="top ">
            <div>
                <div class="row m-t-10 ">
                    <div class="col-sm-6">
                        <input class="input-filter"  type="search" placeholder="Search">
                    </div>
                    <div class="col-sm-6" >
                        <input class="input-filter" type="text" placeholder="Country">
                    </div>
                </div>
                <div style="display: flex" class="m-t-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Online Consultation</label>
                    </div>
                    <div class="form-check m-l-15">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Site Visit</label>
                    </div>
                </div>
                <div style="display: flex" class="m-t-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Completed</label>
                    </div>
                    <div class="form-check m-l-15">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Confirmed</label>
                    </div>
                    <div class="form-check m-l-15">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Pending</label>
                    </div>
                    <div class="form-check m-l-15">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Rescheduled</label>
                    </div>
                </div>
                <div style="display: flex" class="m-t-10">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" >
                        <label class="form-check-label" >Cancelled</label>
                    </div>
                </div>
                <div style="text-align: center" class="m-t-5 m-b-15">
                    <button class="btn-apply" >Apply</button>
                </div>

            </div>
        </popover>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex'

  import Const from "./../../utils/const"
  import rf from "../../api/RequestFactory"
  import Pagination from "../../common/Pagination"
  import AdminAppointmentListing from '../../components/AdminAppointmentListing'

  export default {
    name: "Appoinment",
    components: {
      Pagination,
      AdminAppointmentListing
    },
    data() {
      return {
        Const,
        country: '',
        appoinments: [],
        currentPage: 1,
        sortCreated: 'desc',
        name: '',
        totalPage: 1,
      }
    },
    watch: {
      country: function () {
        this.getDataAppointments();
      },
      sortCreated: function () {
        this.getDataAppointments(1);
      }
    },
    computed: {
      ...mapGetters(['countries', 'appt_types', 'appt_status'])
    },
    methods: {
      getDataAppointments(page) {
        this.currentPage = page;
        let params = {
          page: page,
          sort_created: this.sortCreated,
          // key: this.name,
          country: this.country
        };
        rf.getRequest('AdminRequest').getAppointments(params).then((res) => {
          this.appoinments = res.data.datas;
          this.totalPage = res.data.total_page;
        });
      },
      onSortCreated() {
        this.getDataAppointments(1);
      },
      onToggleFilter() {
      }
    },

    mounted() {
      let self = this

      self.$store.dispatch('getCountries')
      self.$store.dispatch('getAppointmentMetas')
      self.getDataAppointments(this.currentPage);
    }
  }
</script>

<style lang="scss" scoped>
    label {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 10px;
        line-height: 15px;
        /* identical to box height */
        color: #434343;
    }
    .btn-apply {
        width: 108px;
        height: 19px;
        background: #EB6271;
        border-radius: 50px;
        color: white;
        font-size: 9px;
        border: none;
    }
    .content {
        padding: 30px 30px;

        .page {
            margin-top: 5px;
        }

        .search {
            text-align: right;
        }

        .title {
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            font-size: 22px;
            line-height: 33px;
            color: #020644;
        }

        .content-name {
            box-sizing: border-box;
            width: 200px;
            height: 40px;
            padding-left: 10px;
            border: 0.5px solid #979797;
            margin-right: 15px;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            background: url('/assets/img/icon_search.png') no-repeat 170px;
            background-color: #FFFFFF

        }


        .coutry-search {
            width: 200px;
            height: 40px;
            padding-left: 10px;
            background: #FFFFFF;
            border: 0.5px solid #979797;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
        }

        .list-content {
            margin-top: 20px;

            table {
                border-collapse: separate;
                border-spacing: 0px;
            }

            td {
                border-top: none;
                border-bottom: 1px #898989 solid;
                border-left: none;
                border-right: none;
            }

            th {
                font-family: Poppins;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: #434343;
                border-top: 1.5px #898989 solid;
                border-bottom: 1.5px #898989 solid;
                border-left: none;
                border-right: none;
            }

            th.date {
                color: #EB6271;
                cursor: pointer;

                .title-date {
                    margin-right: 6px;
                }

                .img-down {
                    margin-right: 2px;
                }
            }

            td {
                font-family: Poppins;
                font-style: normal;
                font-size: 12px;
                line-height: 18px;
                color: #434343;
            }

            tr {
                height: 45px;
            }

            .confirmed {
                height: 22px;
                margin: 0px !important;
                text-align: center;
                width: 83px;
                background: rgba(147, 233, 190, 0.3);
                border: 2px solid #93E9BE;
                box-sizing: border-box;
                border-radius: 5px;
            }

            .canceled {
                height: 22px;
                margin: 0px !important;
                width: 83px;
                text-align: center;
                background: rgba(255, 0, 0, 0.5);
                border: 2px solid #FF0000;
                box-sizing: border-box;
                border-radius: 5px;
            }

            .completed {
                height: 22px;
                margin: 0px !important;
                text-align: center;
                width: 83px;
                padding: 1px 6px;
                background: #FDD3D1;
                border: 2px solid #FFAFAE;
                box-sizing: border-box;
                border-radius: 5px;
            }

            .pending {
                height: 22px;
                margin: 0px !important;
                text-align: center;
                width: 83px;
                background: rgba(255, 207, 37, 0.5);
                border: 2px solid #FFCF25;
                box-sizing: border-box;
                border-radius: 5px;
            }

            .review {
                cursor: pointer;
                height: 22px;
                background: #EB6271;
                border-radius: 5px;
                color: white;
                padding: 3px 10px;
                margin-left: 6px;

                &:hover {
                    color: #1b8bf9;
                }
            }
        }
    }
</style>