<template>
  <div id="services">
    <div class="container">
      <a href="#/Services" id="back_services">
        <p class="pb-3"><i class="fa fa-arrow-left mr-3"></i>
        Back to Services</p>
      </a>
      <h4 class="title_page pb-2">{{ title_page }}</h4>

      <div class="card" id="consualtation">
        <p class="title_box">Consualtation Type</p>
        <div class="row">
          <div class="col-12 col-md-4 ">
            <p>Online Consualtation (audio/video)</p>
          </div>
          <div class="col-12 col-md-3 col-sm-6">
            <div class="form-group row">
              <div class="col-3 col-md-4 col-sm-6 pr-0 pl-0">
                <label>Duration</label>
              </div>
              <div class="col-9 col-md-8 col-sm-6 pr-0 pl-0">
                <select class="form-control form-control-sm duration">
                  <option v-for="duration in durations" v-bind:key="duration.value">
                    {{duration.text}}</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-sm-6" style="display: flex">
              <label for="price">Price $</label>
              <currency-input v-model="value" placeholder="80"
                class="form-control form-control-sm text-center price" />
              <label for="">USD</label>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-4">
            <p>Site visit appointment</p>
          </div>
          <div class="col-12 col-md-3 col-sm-6">
            <div class="form-group row">
              <div class="col-3 col-md-4 col-sm-6 pr-0 pl-0">
                <label for="duration">Duration</label>
              </div>
              <div class="col-9 col-md-8 col-sm-6 pr-0 pl-0">
                <button class="form-control form-control-sm duration"
                readonly="readonly"> N / A
                </button>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-5 col-sm-6" style="display: flex">
              <label for="price">Price $</label>
              <currency-input v-model="value" placeholder="80"
                class="form-control form-control-sm text-center price" />
              <label for="">USD</label>
          </div>
        </div>
      </div>

      <div class="card" id="treatments">
        <p class="title_box">Consualtation Type</p>
        <div class="row">
          <div class="col-12 col-md-9">
            <p class="line-p">{{content_Consualtation}}</p>
            <div class="form-group row">
              <div class="col-12 col-md-6 col-sm-6">
                <label>Type of treatment</label>
                <input class="form-control form-control-sm" placeholder="Type">
              </div>
              <div class="col-12 col-md-6 col-sm-6">
                <label class="pl-3">Form</label>
                <div style="display: flex">
                  <label for="">$</label>
                  <currency-input v-model="value" class="form-control form-control-sm ml-2"
                    placeholder="000"/>
                </div>
              </div>
              <div class="col-12 pt-2">
                <textarea rows="4" class="form-control form-control-sm"
                  placeholder="Simple explanation of the treatment"></textarea>
              </div>
            </div>
          </div>
        </div>
        <hr>
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name: "Services",
      data() {
        return {
          title_page: "Edit Services",
          content_Consualtation: "Please list all available on site treatments you currently offer along with minimum pricing information and treatment description.",
          durations: [
            { text: '10min', value: '10' },
            { text: '50min', value: '50' },
            { text: '100min', value: '100' }
          ]
        };
      }
  }
</script>
<style lang="scss" scoped>
  label {
    margin: 0;
  }

  p {
    font-size: 15px;
  }

  p.line-p {
    line-height: 22px;
  }

  .row {
    line-height: 3em;
  }

  .card {
    width: 100%;
    padding: 24px;
  }

  .price {
    width: 100px;
    margin: 0 8px;
  }

  .duration {
    width: 120px;
  }

  .title_box {
    font-size: 18px;
    font-weight: 500;
  }

  select:not([multiple]) {
    border: 1px solid #cccccc !important;
  }
</style>
