<template>
  <div class="pull-right pagination" v-if="totalPage>=1">
    <div class="pagination">
      <template v-if="totalPage<=10">
        <li v-for="(page, pageIndex) in totalPage" v-bind:key="pageIndex"
            :class="{active:setActive(page,currentPage)}">
          <a v-on:click="getData(page)">{{page}}</a>
        </li>
      </template>
      <template v-else>
        <li v-if="currentPage>1">
          <a v-on:click="getData(currentPage-1)">Previous</a>
        </li>
        <template v-if="currentPage<=6">
          <li v-for="(page, pageIndex) in 10" v-bind:key="pageIndex"
              :class="{active:setActive(page,currentPage)}">
            <a v-on:click="getData(page)">{{page}}</a>
          </li>
        </template>
        <template v-else>
          <template v-if="currentPage<totalPage-5">
            <li v-for="(page, pageIndex) in 10" v-bind:key="pageIndex"
                :class="{active:setActive((page+currentPage-6),currentPage)}">
              <a v-on:click="getData((page+currentPage-6))">
                {{page+currentPage-6}}</a>
            </li>
          </template>
          <template v-else>
            <li v-for="(page, pageIndex) in 10" v-bind:key="pageIndex"
                :class="{active:setActive((page+totalPage-10),currentPage)}">
              <a v-on:click="getData((page+totalPage-10))">
                {{page+totalPage-10}}
              </a>
            </li>
          </template>
        </template>
        <li v-if="currentPage<totalPage">
          <a v-on:click="getData(currentPage+1)">Next</a>
        </li>
      </template>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      totalPage: {
        type: Number,
        require: true
      },
      currentPage: {
        type: Number,
        require: true
      }
    },
    methods: {
      setActive(page, currentPage) {
        return page == currentPage;
      },
      getData(page) {
        return this.$emit('pageData', page);
      }
    }
  }
</script>

<style lang="scss" scoped>
  li {
    color: #020644;
    cursor: pointer;

    a {
      background-color: lightgrey;
      margin-left: 5px;
      border-radius: 5px;
    }

  }

  li.active {
    a {
      background-color: #FFAFAE;
      color: white;

      &:hover {
        background-color: #FFAFAE;
        color: #020644 !important;
      }
    }
  }
</style>