<template>
    <div class="main-wrapper">
        <div class="header">
            <!-- <img id="logoMain" style="height: 45px; width: 150px" class="m-l-30 m-t-10" src="../assets/logo-hera-main.svg" alt=""> -->
            <!--<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>-->
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <!--<li class="nav-item dropdown d-none d-sm-block">-->
                    <!--<a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i class="fa fa-bell-o"></i>-->
                        <!--<span class="badge badge-pill bg-danger float-right">3</span></a>-->
                    <!--<div class="dropdown-menu notifications">-->
                        <!--<div class="topnav-dropdown-header">-->
                            <!--<span>Notifications</span>-->
                        <!--</div>-->
                        <!--<div class="drop-scroll">-->
                            <!--<ul class="notification-list">-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
											<!--<span class="avatar">-->
												<!--<img alt="John Doe" src="assets/img/user.jpg" class="img-fluid">-->
											<!--</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">John Doe</span> added-->
                                                    <!--new task <span class="noti-title">Patient appointment booking</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">4 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">V</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Tarah Shropshire</span>-->
                                                    <!--changed the task name <span class="noti-title">Appointment booking with payment gateway</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">6 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">L</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Misty Tison</span>-->
                                                    <!--added <span class="noti-title">Domenic Houston</span> and <span-->
                                                            <!--class="noti-title">Claire Mapes</span> to project <span-->
                                                            <!--class="noti-title">Doctor available module</span></p>-->
                                                <!--<p class="noti-time"><span class="notification-time">8 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">G</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Rolland Webber</span>-->
                                                    <!--completed task <span class="noti-title">Patient and Doctor video conferencing</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">12 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">V</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span>-->
                                                    <!--added new task <span class="noti-title">Private chat module</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">2 days ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="topnav-dropdown-footer">-->
                            <!--<a href="activities.html">View all Notifications</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown d-none d-sm-block">-->
                    <!--<a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i-->
                            <!--class="fa fa-comment-o"></i> <span-->
                            <!--class="badge badge-pill bg-danger float-right">8</span></a>-->
                <!--</li>-->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<!-- <img class="rounded-circle" src="assets/img/user.jpg" width="24" alt="Admin"> -->
							<span class="status online"></span>
						</span>
                        <span>{{user.first_name}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <router-link class="dropdown-item" to="/">Dashboard</router-link>
                        <router-link class="dropdown-item" to="/my-profile">My Profile</router-link>
                        <a class="dropdown-item" href="javascript:void(0)" @click.prevent="logout">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">My Profile</a>
                    <a class="dropdown-item" href="edit-profile.html">Edit Profile</a>
                    <a class="dropdown-item" href="settings.html">Settings</a>
                    <a class="dropdown-item" href="login.html">Logout</a>
                </div>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">

                        </li>
                        <router-link
                                tag="li"
                                to="/"
                        >
                            <a href="#">
                                <i class="icon-dashboard-un"></i> <span>Dashboard</span>
                            </a>
                        </router-link>
                        <li class="submenu">
                            <a href="#">
                                <i class="fa fa-calendar"></i> <span>Appointments</span>
                                <span
                                    class="menu-arrow"></span>
                            </a>
                            <ul style="display: none;">
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/appointment">
                                    <a href="#">
                                        <span>All</span>
                                    </a>
                                </router-link>
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/appointment-24h">
                                    <a href="#">
                                        <span>24 - Hour</span>
                                    </a>
                                </router-link>
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/appointment-7d">
                                    <a href="#">
                                        <span>7 - Day</span>
                                    </a>
                                </router-link>
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/appointment-cr">
                                    <a href="#">
                                        <span>Cancellation Requests</span>
                                    </a>
                                </router-link>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"> <i class="icon-setting-un"></i> <span> Settings</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/setting-notification">
                                    <a href="#">
                                        <span class="icon-notification-un m-r-15"></span> <span>Notifications</span>
                                    </a>
                                </router-link>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-home"></i> <span>Clinics</span><span class="menu-arrow"></span></a>
                            <ul class="">
                                <router-link
                                tag="li"
                                active-class="active"
                                to="/clinic-applicants">
                                    <a href="#">
                                        <span>Applicants</span>
                                    </a>
                                </router-link>

                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/clinic-approved">
                                    <a href="#">
                                        <span>Approved</span>
                                    </a>
                                </router-link>
                            </ul>
                        </li>
                        <li>
                            <a href="/admin/doctor"><i class="fa fa-user-md"></i> <span>Doctors</span></a>
                        </li>
                        <li>
                            <a href="/admin/client"><i class="fa fa-user"></i> <span>Clients</span></a>
                        </li>
                        <li>
                            <a href="/admin/translator"><i class="fa fa-language"></i> <span>Translators</span></a>
                        </li>
                        <li>
                            <a href="chat.html"><i class="fa fa-comments"></i> <span>Chat</span> <span
                                    class="badge badge-pill bg-primary float-right">5</span></a>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-video-camera camera"></i> <span> Calls</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="voice-call.html">Voice Call</a></li>
                                <li><a href="video-call.html">Video Call</a></li>
                                <li><a href="incoming-call.html">Incoming Call</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#"><i class="fa fa-envelope"></i> <span> Messages</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="compose.html">Compose Mail</a></li>
                                <li><a href="inbox.html">Inbox</a></li>
                                <li><a href="mail-view.html">Mail View</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/payments"><i class="fa fa-credit-card"></i> <span>Payments</span></a>
                        </li>
                        <li>
                            <a href="/payment-report"><i class="fa fa-file"></i> <span>Payment Report</span></a>
                        </li>
                        <li>
                            <a href="/reviews"><i class="fa fa-comment"></i> <span>Reviews</span></a>
                        </li>
                        <li>
                            <router-link to="/Services">
                                <i class="fa fa-user-cog"></i>
                                Services
                            </router-link>
                        </li>
                        <li>
                            <router-link to="/news">
                                <i class="fa fa-newspaper-o"></i>
                                <span>News</span>
                            </router-link>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fa fa-cog"></i> <span>Settings</span></a>
                        </li>
                        <li>
                            <a href="settings.html"><i class="fa fa-heart"></i> <span>Hera Website</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content m-t-30">
                <slot/>
            </div>

            <!--<div class="notification-box">-->
            <!--<div class="msg-sidebar notifications msg-noti">-->
            <!--<div class="topnav-dropdown-header">-->
            <!--<span>Messages</span>-->
            <!--</div>-->
            <!--<div class="drop-scroll msg-list-scroll" id="msg_list">-->
            <!--<ul class="list-box">-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">R</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">Richard Miles </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item new-message">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">J</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">John Doe</span>-->
            <!--<span class="message-time">1 Aug</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">T</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author"> Tarah Shropshire </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">M</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">Mike Litorus</span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">C</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author"> Catherine Manseau </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">D</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author"> Domenic Houston </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">B</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author"> Buster Wigton </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">R</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author"> Rolland Webber </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">C</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author"> Claire Mapes </span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">M</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">Melita Faucher</span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">J</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">Jeffery Lalor</span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">L</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">Loren Gatlin</span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--<li>-->
            <!--<a href="chat.html">-->
            <!--<div class="list-item">-->
            <!--<div class="list-left">-->
            <!--<span class="avatar">T</span>-->
            <!--</div>-->
            <!--<div class="list-body">-->
            <!--<span class="message-author">Tarah Shropshire</span>-->
            <!--<span class="message-time">12:28 AM</span>-->
            <!--<div class="clearfix"></div>-->
            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</a>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--<div class="topnav-dropdown-footer">-->
            <!--<a href="chat.html">See all messages</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
  import Utils from "../utils/utils";

  export default {
    name: "AdminLayout",
    data() {
      return {
        user: {}
      }
    },
    mounted() {
      let self = this
      if (!Utils.getLocalAdmin()) {
        return self.$router.push({path: '/login'})
      } else {
        this.user = Utils.getLocalAdmin();
      }
    },
    methods: {
      logout: function () {
        let self = this
        Utils.removeLocalAdmin();
        return self.$router.push({path: '/login'})
      }
    }
  }
</script>

<style scoped>

</style>
