<template>
    <div class="main-wrapper">
        <div class="header">
            <!--<div class="header-left">-->
            <!--<a href="/" class="logo">-->
            <!--<img src="../../public/assets/img/Hera_LOGO.png" height="35" alt="">-->
            <!--</a>-->
            <!--</div>-->
            <img id="logoMain" style="height: 45px; width: 150px" class="m-l-30 m-t-10" src="../assets/logo-hera-main.svg" alt="">
            <!--<a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>-->
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right m-t-10">
                <!--<li class="nav-item dropdown d-none d-sm-block">-->
                    <!--<a style="font-size: 20px;" href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><i-->
                            <!--style="font-size: 25px" class="fa fa-bell-o"></i>-->
                        <!--<span class="badge badge-pill bg-danger float-right">3</span></a>-->
                    <!--<div class="dropdown-menu notifications">-->
                        <!--<div class="topnav-dropdown-header">-->
                            <!--<span>Notifications</span>-->
                        <!--</div>-->
                        <!--<div class="drop-scroll">-->
                            <!--<ul class="notification-list">-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
											<!--<span class="avatar">-->
												<!--<img alt="John Doe" src="assets/img/user.jpg" class="img-fluid">-->
											<!--</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">John Doe</span> added-->
                                                    <!--new task <span class="noti-title">Patient appointment booking</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">4 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">V</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Tarah Shropshire</span>-->
                                                    <!--changed the task name <span class="noti-title">Appointment booking with payment gateway</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">6 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">L</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Misty Tison</span>-->
                                                    <!--added <span class="noti-title">Domenic Houston</span> and <span-->
                                                            <!--class="noti-title">Claire Mapes</span> to project <span-->
                                                            <!--class="noti-title">Doctor available module</span></p>-->
                                                <!--<p class="noti-time"><span class="notification-time">8 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">G</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Rolland Webber</span>-->
                                                    <!--completed task <span class="noti-title">Patient and Doctor video conferencing</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">12 mins ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <!--<li class="notification-message">-->
                                    <!--<a href="activities.html">-->
                                        <!--<div class="media">-->
                                            <!--<span class="avatar">V</span>-->
                                            <!--<div class="media-body">-->
                                                <!--<p class="noti-details"><span class="noti-title">Bernardo Galaviz</span>-->
                                                    <!--added new task <span class="noti-title">Private chat module</span>-->
                                                <!--</p>-->
                                                <!--<p class="noti-time"><span class="notification-time">2 days ago</span>-->
                                                <!--</p>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                    <!--</a>-->
                                <!--</li>-->
                            <!--</ul>-->
                        <!--</div>-->
                        <!--<div class="topnav-dropdown-footer">-->
                            <!--<a href="activities.html">View all Notifications</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="nav-item dropdown d-none d-sm-block">-->
                <!--<a href="javascript:void(0);" id="open_msg_box" class="hasnotifications nav-link"><i-->
                <!--class="fa fa-comment-o"></i> <span-->
                <!--class="badge badge-pill bg-danger float-right">8</span></a>-->
                <!--</li>-->
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
                            <img src="../assets/avt-circle.png" alt="">
							<span class="status online"></span>
						</span>
                        <span>{{user.first_name}}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/">Dashboard</a>
                        <router-link to="/profile" class="dropdown-item">My Profile</router-link>
                        <a class="dropdown-item" href="#" @click.prevent="logout">Logout</a>
                    </div>
                </li>
            </ul>
            <div class="dropdown mobile-user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
                        class="fa fa-ellipsis-v"></i></a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="/">Dashboard</a>
                    <router-link to="/profile" class="dropdown-item">My Profile</router-link>
                    <a class="dropdown-item" href="#" @click.prevent="logout">Logout</a>
                </div>
            </div>
        </div>
        <div  class="sidebar m-t-10" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <router-link
                                tag="li"
                                to="/">
                            <a href="/">
                                <span class="icon-dashboard-un"></span> <span>Dashboard</span>
                            </a>
                        </router-link>
                        <router-link
                                tag="li"
                                active-class="active"
                                to="/appointments">
                            <a href="#"> <span class="icon-appointments-un  "></span>
                                <span>Appointments</span></a>
                        </router-link>
                        <!--<li>-->
                            <!--<a href="/chat"><span class="icon-chat-un"></span> <span>Chat</span> <span-->
                                    <!--class="badge badge-pill bg-primary float-right">5</span></a>-->
                        <!--</li>-->
                        <!--<li class="submenu">-->
                            <!--<a href="#"> <span class="icon-call-un"></span> <span> Calls</span> <span-->
                                    <!--class="menu-arrow"></span></a>-->
                            <!--<ul style="display: none;">-->
                                <!--<li><a href="voice-call.html">Voice Call</a></li>-->
                                <!--<li><a href="video-call.html">Video Call</a></li>-->
                                <!--<li><a href="incoming-call.html">Incoming Call</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->

                        <router-link to="/messages" tag="li" active-class="active">
                            <a href="#">
                                <span class="icon-message-un"></span> <span> Messages</span>
                            </a>
                        </router-link>
                        <router-link to="/payments" tag="li" active-class="active">
                            <a href="#">
                                <span class="icon-payment-un"></span> <span> Payments</span>
                            </a>
                        </router-link>
                        <router-link
                                tag="li"
                                active-class="active"
                                to="/reviews">
                            <a href="#">
                                <span style="font-size: 20px" class="icon-reviews-un"><span class="path1"></span><span
                                        class="path2"></span><span class="path3"></span><span class="path4"></span><span
                                        class="path5"></span><span class="path6"></span><span
                                        class="path7"></span></span> <span>Review</span>
                            </a>
                        </router-link>
                        <router-link
                                tag="li"
                                active-class="active"
                                to="/profile">
                            <a href="#">
                                <span class="icon-myprofile-un"></span><span>My Profile</span>
                            </a>
                        </router-link>
                        <li class="submenu">
                            <a href="#"> <span class="icon-setting-un"></span> <span> Settings</span> <span
                                    class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/setting-localization">
                                    <a href="#">
                                        <span class="icon-location m-r-15"></span> <span>Localization</span>
                                    </a>
                                </router-link>
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/setting-notification">
                                    <a href="#">
                                        <span class="icon-notification-un m-r-15"></span> <span>Notifications</span>
                                    </a>
                                </router-link>
                                <router-link
                                        tag="li"
                                        active-class="active"
                                        to="/setting-password">
                                    <a href="#">
                                        <span class="icon-lock m-r-15"></span><span>Change Password</span>
                                    </a>
                                </router-link>

                                <!--<router-link-->
                                        <!--tag="li"-->
                                        <!--active-class="active"-->
                                        <!--to="setting-password">-->
                                    <!--<a href="#"><i class="fa fa-cog"></i> <span>Password</span></a>-->
                                <!--</router-link>-->
                            </ul>
                        </li>
                        <li>
                            <a href="/"> <span><img src="../assets/hera-logo.svg"></span> <span>Hera Website</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content m-t-30">
                <slot/>
            </div>

            <!--<div class="notification-box">-->
                <!--<div class="msg-sidebar notifications msg-noti">-->
                    <!--<div class="topnav-dropdown-header">-->
                        <!--<span>Messages</span>-->
                    <!--</div>-->
                    <!--<div class="drop-scroll msg-list-scroll" id="msg_list">-->
                        <!--<ul class="list-box">-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">R</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">Richard Miles </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item new-message">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">J</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">John Doe</span>-->
                                            <!--<span class="message-time">1 Aug</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">T</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author"> Tarah Shropshire </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">M</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">Mike Litorus</span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">C</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author"> Catherine Manseau </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">D</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author"> Domenic Houston </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">B</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author"> Buster Wigton </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">R</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author"> Rolland Webber </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">C</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author"> Claire Mapes </span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">M</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">Melita Faucher</span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--http://localhost:8080/#-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">J</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">Jeffery Lalor</span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">L</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">Loren Gatlin</span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="chat.html">-->
                                    <!--<div class="list-item">-->
                                        <!--<div class="list-left">-->
                                            <!--<span class="avatar">T</span>-->
                                        <!--</div>-->
                                        <!--<div class="list-body">-->
                                            <!--<span class="message-author">Tarah Shropshire</span>-->
                                            <!--<span class="message-time">12:28 AM</span>-->
                                            <!--<div class="clearfix"></div>-->
                                            <!--<span class="message-content">Lorem ipsum dolor sit amet, consectetur adipiscing</span>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="topnav-dropdown-footer">-->
                        <!--<a href="chat.html">See all messages</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</template>

<script>
  import Utils from "../utils/utils";

  export default {
    name: "UserLayout",
    data() {
      return {
        user: {}
      }
    },
    mounted() {
      let self = this

      if (!Utils.getLocalUser()) {
        console.log("not signed in")
        return self.$router.push({path: '/login'})
      } else {
        this.user = Utils.getLocalUser();
      }
    },
    methods: {
      logout: function () {
        let self = this
        Utils.removeLocalUser();
        return self.$router.push({path: '/login'})
      }
    }
  }
</script>

<style scoped>
    @media only screen and (max-width: 765px) {
        #logoMain {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media only screen and (min-width: 768px) and (max-width: 1366px){
        #logoMain {
            margin-left: 50px !important;
        }
    }

</style>