<template>
    <div class="main-wrapper account-wrapper">
        <form class="form-material">
            <div class="form-group form-default">
                <input type="text" name="footer-email" class="form-control" placeholder="Username">
                <span class="form-bar"></span>
            </div>
        </form>
    </div>
</template>

<script>
  export default {
    name: "Draft"
  }
</script>

<style scoped>

</style>