<template>
    <div class="main-wrapper account-wrapper">
        <div class="account-page">
            <div class="account-center">
                <div class="account-box">
                    <form method="post" class="form-signin">
                        <div class="account-logo">
                            <a href="index.html"><img src="/assets/img/Hera_LOGO.png" alt=""></a>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <small class="text-danger text-sm-left" style="display: block">{{error.email}}</small>
                            <input v-model="input.email" required type="text" autofocus="" class="form-control">
                        </div>


                        <div class="form-group text-center">
                            <button type="submit" @click.prevent="requestRestorePassword"
                                    class="btn btn-primary account-btn">Restore Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import API from "../utils/api";
  // import UTILS from "../utils/utils";

  export default {
    name: "forgetpasswordLayout",
    data() {
      return {
        input: {
          email: ""
        },
        error: {
          email: ""
        }
      }
    },
    methods: {
      validateInput: function () {
        let result = true;
        if (!this.input.email) {
          this.error.email = "email cannot be empty";
          result = false;
        } else {
          this.error.email = "";
        }
        if (this.input.email && !/\S+@\S+\.\S+/.test(this.input.email)) {
          this.error.email = "email invalid";
          result = false;
        }
        return result;
      },
      requestRestorePassword() {
        let self = this
        if (!this.validateInput()) {
          return null;
        }
        fetch(API.getApi(API.AUTH.FORGET_PASSWORD), {
          method: 'post',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            "email": this.input.email,
          })
        }).then(res => res.json()).then(res => {
          switch (res.status) {
            case 200: {
              alert("please check your mail box to reset password");
              self.$router.push({path: '/login'})
              return;
            }
            case 404: {
              this.error.email = "account not found for email " + this.input.email;
              return;
            }
            default: {
              return;
            }
          }
        }).catch(e => {
          console.log(e)
        });
      }
    }
  }
</script>

<style scoped>

</style>